@font-face {
    font-family: 'Droid Sans';
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Droid Sans'
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    src: url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
         url('@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap'));
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

